<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="omar.fuzzer.modulo_tarjeta">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_caracteristica_tarjeta">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".CapturaTarjetaActivity"
            android:exported="true" />
    </application>

</manifest>